
a{
    text-decoration: none;
    color: antiquewhite;
}
nav{
    background-image: url('Fondo-Header.jpg');
    padding: 15px 15px;
    font-family: Poke;
}
a:hover{
    color:orange;
}
@font-face {
    font-family: Poke;
    src: url('Symtext.ttf');
}
.espacio{
    margin-left: 3%;
}